<div ng-controller="MainController">

    <h1>Portofolio links</h1>

    <a target="_blank" ng-click="openApp('TwitterInsights')">link to app TwitterInsights</a><br>
    <a target="_blank" ng-click="openApp('StockPredict')">link to app StockPredicts</a><br>
    <a target="_blank" ng-click="openApp('CognitiveSearch')">link to app CognitiveSearch</a><br>
    <a target="_blank" ng-click="openApp('CoinSignals')">link to app CoinSignals</a><br><br><br><br>

    <a target="_blank" ng-click="openApp('')">To main page</a>

</div>