<div ng-controller="MainController">
    <div class="outer">
                <a href="#header">
                    <i class="fa fa-arrow-circle-up" id="arrow" aria-hidden="true"></i>
                </a>
                
                <div class="inner">
                    
                    <!-- HEADER SECTION -->
                    <header id="header">
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <i class="fa fa-bars nav-toggle" aria-hidden="true"></i>
                                <nav role="navigation">
                                    <i class="fa fa-times nav-toggle" aria-hidden="true"></i>
                                    <ul class="list-unstyled" id="nav">
                                        <li>
                                            <a class="nav-link" href="#skill"><span>Skills</span></a>
                                            <div class="underline"></div>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#pf"><span>Portfolio</span></a>
                                            <div class="underline"></div>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#contacts"><span>Contacts</span></a>
                                            <div class="underline"></div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <h1 class="titanic naked" >Hi. My name is Lukas Dombrovsky.<br>
                                I like building minimal, but detail oriented web applications <br>
                                and have also experience with data science from my past projects. <br>
                                My biggest passion is cycling.
                            </h1>
                        </div>
                    </header>
        
                    <!-- SKILLS SECTION -->
                    <section class="skills-sec" id="skill">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h2>Skills</h2>
                                </div>
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div id="skills">
                                        <img class="img-responsive skill toR" src="img/javascript_skill.png" alt="js icon" title="JavaScript" />
                                        <img class="img-responsive skill" src="img/css3_skill.png" alt="css icon" title="Css3" />
                                        <img class="img-responsive skill toL" src="img/html5_skill.png" alt="html icon" title="Html5" />
                                        <img class="img-responsive skill toR" src="img/bootstrap_skill.png" alt="bootstrap icon" title="Bootstrap" />
                                        <img class="img-responsive skill" src="img/angular_skill.png" alt="angular icon" title="Angular" />
                                        <img class="img-responsive skill toL" src="img/r_skill.png" alt="r icon" title="R" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <!-- PORTFOLIO SECTION -->
                    <section class="portfolio-sec" id="pf">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h2>Portfolio</h2>
                                </div>
                                <div class="col-xs-12">
                                    <div id="portfolio">
                                        <div class="project">
                                            <a ng-click="openApp('TwitterInsights')">
                                                <img src="img/ti_link.png" alt="TwitterInsights_App" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="project">
                                            <a ng-click="openApp('StockPredict')">
                                                <img src="img/sp_link.png" alt="StockPredict_App" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="project">
                                            <a href="ng-click="openApp('CryptoDashboard')"">
                                                <img src="img/cd_link.png" alt="CryptoDashboard_App" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                </div>
                
                <!-- FOOTER SECTION -->
                <footer class="footer-section" id="contacts">
                    <div class="container">		
                        <div class="footer-cta pt-5 pb-5">
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="fab fa-linkedin-in"></i>
                                        <div class="cta-text">
                                            <h4>Add me</h4>
                                            <span>linkedin.com/in/lukasdombrovsky</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="fas fa-phone"></i>
                                        <div class="cta-text">
                                            <h4>Call me</h4>
                                            <span>+421 911 126 394</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="far fa-envelope-open"></i>
                                        <div class="cta-text">
                                            <h4>Mail me</h4>
                                            <span>lukas.dombrovsky@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </footer>
    </div>
</div>

