<div ng-controller="TwitterInsightsController" id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top">
                          <img src="../img/ti_logo.png" id="headerLogo">
                        </a>
                    </div>
        
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="page-scroll" ng-click="scrollTo('insights')">Insights</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
        </nav>

        <a ng-click="toMainPage()">
            <i class="fa fa-arrow-circle-left" id="arrow" aria-hidden="true"></i>
        </a>
        <a ng-click="scrollTo('page-top')">
            <i class="fa fa-arrow-circle-up" id="arrow" aria-hidden="true"></i>
        </a>
        
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Twitter Insights</h1>
                    <hr>
                    <p>What people on Twitter think about IBM? See it using our app!<br />
                           Our app downloads data realated to IBM, finds out most used hashtags,
                           downloads related data again and sends them to Watson Natural Language Processing
                           and Watson Personality Insights APIs for analysis which is visualized right below.</p>
                    <a class="btn btn-primary btn-xl page-scroll" ng-click="scrollTo('insights')">Get insights!</a>
                </div>
            </div>
        </header>
        
        <section id="insights">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Explore Insights</h2>
                            <hr class="primary">
                        </div>
                    </div>
        
                    <div class="row">
                      <div class="col-lg-12 col-sm-12" id="DD">
                        <!-- Index is messed up so put your top selection last-->
                        <!-- then use normal order-->
                        <div ng-class="dropdownClass">
                            <div ng-repeat="item in hashtags track by $index" ng-class="itemClass" ng-click="startHashtagAnalysis($index)" ng-bind="item.hashtag"></div>
                            <div ng-class="itemClass" ng-click="changeClass()">Select one of top three hashtags</div>
                        </div>
                      </div>
                    </div>
        
                    <div id="widgetSection">
        
                    <div class="row">
                        
                            <div class="col-md-4 col-sm-4">
                                <div class="progress-pie-chart">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percents">
                                    <div class="pcc-percents-wrapper">
                                    <span>%</span>
                                    </div>
                                </div>
                                </div>
                                <div class="ppc-percents-text">
                                % from top hashtags
                                </div>
                            </div>
        
                            <div class="col-md-4 col-sm-4">
                                <div id="hastagTitle" ng-bind="selectedHashtag"></div>
                            </div>
                            
                            <div class="col-md-4 col-sm-4">
                                <div class="progress-pie-chart-sentiment">
                                <div class="ppc-progress-sentiment">
                                    <div class="ppc-progress-fill-sentiment"></div>
                                </div>
                                <div class="ppc-percents-sentiment">
                                    <div class="pcc-percents-wrapper-sentiment">
                                    <span class="sentimentSpan">%</span>
                                    </div>
                                </div>
                                </div>
                                <div class="ppc-percents-text-sentiment"></div>
                            </div>
                        </div>              
                    
        
                    <div class="row">
                      <div class="sparkleProgressbar" index="1" emotion="Openness">
                          <div class="sparkleBar"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                      
                      <div class="sparkleProgressbar" index="2" emotion="Anger">
                          <div class="sparkleBar color2"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                      
                      <div class="sparkleProgressbar" index="3" emotion="Depression">
                          <div class="sparkleBar color3"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                      
                      <div class="sparkleProgressbar" index="4" emotion="Challenge">
                          <div class="sparkleBar color4"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                      
                      <div class="sparkleProgressbar" index="5" emotion="Curiosity">
                          <div class="sparkleBar color5"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                      
                      <div class="sparkleProgressbar" index="6" emotion="Excitement">
                          <div class="sparkleBar color6"><span></span></div>
                          <div class="sparkleLabel"><span></span><div class="perc"></div></div>
                      </div>
                    </div>
                  
                </div>
                </div>
        </section>
            
        <aside class="bg-dark">
                <div class="container text-center">
                    <div class="call-to-action">
                        <h2 id="h2-footer">Lukas dombrovsky | 2017</h2>
                        <hr class="primary">
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>+421-911-126-394</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                            <p><a href="mailto:lukas.dombrovsky@gmail.com">lukas.dombrovsky@gmail.com</a></p>
                        </div>
                </div>
        </aside>
</div>